.lateral-menu {
    display: flex;
    width: 10rem;
    color: white;
    padding: 20px;
    background-color: rgb(46, 44, 44);
    height: 100vh;
}

.lateral-menu ul {
    list-style: none;
    padding: 0; 
}

.lateral-menu li {
    margin-bottom: 1rem;
}

.lateral-menu a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.armari {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: -20px;
    margin-bottom: 10px;
}

.armaris {
  border-bottom: 1px solid #48bb78; 
  padding-bottom: 5px; 
  display: block;
}

.lateral-menu a:hover { 
    color: #48bb78 !important;
}

