.lateral-menu {
  display: flex;
  width: 10rem;
  background-color: #333;
  color: white;
  padding: 20px;
}

.lateral-menu ul {
  list-style: none;
  padding: 0;
}

.lateral-menu li {
  margin-bottom: 1rem;
}

.lateral-menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.lateral-menu a:hover {
  color: #48BB78;
}